body {
    font-family: 'Nunito Sans', sans-serif;
}
h1 {
    color: green;
    font-weight: 900;
}
p {
    color: green;
}
ul {
    color: blueviolet;
}
ol {
    color: blueviolet;
}
a {
    color: blueviolet;
}